@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');


*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    /* background-color: black; */
}
.header{
    padding-top: 61px;
    background: linear-gradient(180.00deg, rgba(17, 17, 17, 0.966),rgba(119, 119, 119, 0) 1000%);
}
main{
    background: black;
    margin-top: -4px;
}
footer{
    background: black;
}

/* fonts */
.font_playwrite{
    font-family: "Playwrite CU", sans-serif;
}

/* containers */
.container{
    max-width: 1125px;
    margin: 0 auto;
}

/* displays */
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}

/* all */
.sm_text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.06rem;
}
.orng_btn{
    border: none;
    background: rgb(230, 83, 60);
    border-radius: 44px;
}
.orng_btn a{
    text-decoration: none;
    background: transparent;
    font-size: 1.2rem;
    font-weight: 600;
}
.background{
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.heading{
    font-size: 3.15rem;
    font-weight: 900;
}








/* navbar start */
.navbar_content{
    justify-content: space-between;
    align-items: center;
}
.navbar_content h3 i{
    color: rgb(230, 83, 60);
    font-size: 2.35rem;
    font-weight: 800;
}
.nav_list{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 41px;
}
.navbar_content ul{
    border-radius: 100px;
    gap: 25px;
}
.navbar_content ul li{
    list-style: none;
    margin: 13px 25px 13px 5px;
}
.navbar_content li a{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
}
.navbar_content ul li:first-child a{
    background: rgb(230, 83, 60);
    font-weight: 600;
    padding: 10px 23px;
    border-radius: 47px;
}

/* banner start */
.banner{
    margin-top: 34px;
}
.banner_content{
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}
.banner_content_img img{
    width: 100%;
}
.banner_content_item h1{
    font-size: 5.16rem;
}
.banner_content_item p{
    margin: 30px 0px;
}
.banner_content_item button{
    padding: 17px 42px;
    margin-right: 15px;
}
.water_btn{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 44px;
    background: transparent;
}
.water_btn a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}
.banner_img_card{
    position: absolute;
    padding: 21px 24px;
    border-radius: 13px;
}
.banner_img_card h3{
    font-size: 1.6rem;
    font-weight: 900;
}
.banner_img_card p{
    color: rgba(239, 237, 232, 0.65);
}
.float1{
    top: 22%;
    right: -7%;
}
.float2{
    bottom: 51px;
    right: 258px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.circle{
    background-color: rgb(230, 83, 60);
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

/* change start */
.change{
    padding-top: 106px;
}
.change_content{
    text-align: center;
}
.change_content_item{
    gap: 42px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 57px;
}
.change_content_card h6{
    font-size: 1.19rem;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 7px;
}
.change_card_img img{
    border-radius: 50%;
}

/* run start */
.run{
    margin-top: 106px;
}
.run_content{
    align-items: center;
    /* gap: 150px; */
    padding-right: 35px;
    border-radius: 18px;
    /* flex-wrap: wrap; */
}
.run_content p{
    margin: 18px 0px;
}
.run_content_item{
    padding: 35px;
}
.run_content_item button{
    padding: 17px 70px;
    margin-top: 25px;
}
.run_img_con img{
    border-radius: 18px;
}
.image2{
    
}

/* bmi start */
.bmi{
    margin-top: 106px;
    padding-bottom: 106px;
}
.bmi_heading{
    width: 50%;
    margin: 0 auto;
}
.bmi_heading_text{
    margin: 15px 0px 93px 0px;
}
.bmi_content_chart h3{
    font-size: 1.8rem;
    font-weight: 900;
}
.bmi_chart_container{
    gap: 50px;
    padding-top: 55px;
    padding-bottom: 60px;
}
.bmi_chart_form p{
    margin: 15px 0px 36px 0px;
}
.bmi_chart_form td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.06rem;
}
.bmi_chart_table table{
    border-collapse: collapse;
    margin: 20% 0px;
}
.bmi_chart_table th{
    border: 1px rgba(255, 255, 255, 0.5) solid;
    text-align: left;
    font-weight: 400;
    padding: 15px;
}
.bmi_chart_table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.06rem;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    padding: 15px;
}
.bmi_chart_form form{
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
}
.bmi_chart_form label :first-child{
    width: 92%;
    border: none;
    font-size: 17px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 13px;
    border-radius: 8px;
    overflow: hidden;
}
.bmi_chart_form label select{
    width: 100%;
}
.bmi_form_select{
    grid-column-start: 1;
    grid-column-end: 3;
}
.bmi_chart_form form button{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 44%;
    padding: 17px 0px;
    margin-top: 26px;
    /* margin-bottom: 60px; */
}
.bmi_chart_form option{
    background: black;
}

/* team start */
.team{
    margin-top: 106px;
    padding-bottom: 106px;
}
.team_content{
    text-align: center;
}
.team_content p{
    padding: 20px;
    margin-bottom: 30px;/* temp margin */
}
.team_content_img{
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
    padding: 20px;
    border-radius: 10px;
}
.team_img_card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.team_img_card{
    position: relative;
}
.team_img_text{
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: start;
}
.team_img_text p{
    margin: 0px;
    padding: 8px 0px 0px 0px;
}

/* footer start */
.footer_content_get{
    justify-content: space-between;
    padding: 40px 0px 60px 0px;
}
.footer_fitcolumn{
    width: 50%;
}
.footer_fitcolumn h1 i{
    font-size: 3.5rem;
    color: rgb(230, 83, 60);
    font-weight: 900;
}
.footer_fitcolumn p{
    margin: 20px 0px;
}
.footer_getcolumn{
    flex-direction: column;
    gap: 20px;
}
.footer_getcolumn h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 20px;
}
.footer_getcolumn a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer_content_copyright p{
    text-align: center;
    padding: 25px 0px;
}

/* success start */
.success{
    background-color: black;
}
.success_content{
    text-align: center;
    overflow: hidden;
}
.success_content h1{
    margin-bottom: 70px;
}
.success_slider_container{
    position: relative;
    height: 350px;
}
.success_slider_item p{
    margin-bottom: 25px;
}
.success_slider_item h3{
    margin: 5px;
}
.success_slider_content{
    grid-template-columns: repeat(3, 1fr);
    width: 300%;
    position: absolute;
    left: 100%;
    animation-name: slide;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
@keyframes slide {
    100%{left: calc(0% - 300%);}
    90%{left: calc(0% - 200%);}
    80%{left: calc(0% - 200%);}
    70%{left: calc(0% - 200%);}
    60%{left: calc(0% - 100%);}
    50%{left: calc(0% - 100%);}
    40%{left: calc(0% - 100%);}
    30%{left: calc(0%);}
    20%{left: calc(0%);}
    10%{left: calc(0%);}
    0%{left: 100%}
}




/* small device responsive */
@media screen and (max-width:577px) {
    .banner_content,
    .navbar_content,
    .navbar_content ul,
    .run_content,
    .bmi_chart_container
    {
        flex-direction: column;
    }
    .team,
    .navbar_content,
    .banner_content_item,
    .change_content,
    .bmi_heading,
    .run_content_item button,
    .bmi_chart_table,
    .bmi_chart_form,
    .footer_fitcolumn,
    .footer_getcolumn,
    .footer_content_copyright,
    .footer hr{
        width: 90% !important;
        margin: 0 auto;
    }
    .navbar_content{
        align-items: start;
    }
    .nav_list{
        display: none;
    }
    .banner_content{
        gap:100px;
    }
    .banner_content_item button{
        text-align: center;
    }
    .banner_item_btn,
    .run_content_item
    {
        text-align: center;
    }
    .float1{
        top: 57%;
        right: 10%;
    }
    .float2{
        bottom: 11%;
        right: 54%;
    }
    .change_content h3{
        margin-bottom: 25px;
    }
    .change_content_item{
        grid-template-columns: repeat(1, 1fr);
    }
    .change_content_card{
        padding: 0px 100px;
    }
    .run_content{
        gap: 40px;
        margin: 30px;
        padding: 35px;
    }
    .run_img_con img{
        content: url('../asset/img/run.jpg');
    }
    .bmi_chart_table table{
        width: 80%;
    }
    .team_content_img{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer_content_get{
        flex-direction: column;
    }
    .footer_content_copyright p{
        text-align: left;
    }
    .team_img_b{
        grid-row-start: 1;
    }
    .team_img_e{
        grid-row-start: 2;
    }
    .team_img_c{
        grid-row-start: 3;
    }
    .team_img_a,
    .team_img_d{
        display: none;
    }
}







@media screen and (max-width: 1285px) and (min-width: 578px) {
    .float1{
        right: 0px;
    }
}